<h1>Track It - Add a new item</h1>
<form onSubmit>
  <label>
    <p>Item Name</p>
    <input
      type="text"
    />
  </label>
  <label>
    <p>Description</p>
    <input
      type="text"
    />
  </label>
  <label className="button">
    <p>Upload a Photo:</p>
    <input
      type="text"
    />
  </label>
  <div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>